body {
	color: #000000;
	padding: 0;
	margin: 5% 15% 5% 15%;
	font-family: Arial, Helvetica;
	background:
	radial-gradient(rgba(250,230,220,0) 0, rgba(250,230,220,.1) 30%, rgba(250,230,220,.2) 32%, rgba(250,230,220,0) 33%) 0 0,
	radial-gradient(rgba(240,240,180,0) 0, rgba(240,240,180,.1) 11%, rgba(240,240,180,.2) 13%, rgba(240,240,180,0) 14%) 0 0,
	radial-gradient(rgba(240,250,240,0) 0, rgba(240,250,240,.1) 17%, rgba(240,250,240,.2) 19%, rgba(240,250,240,0) 20%) 0 110px,
	radial-gradient(rgba(255,220,190,0) 0, rgba(255,220,190,.1) 11%, rgba(255,220,190,.2) 13%, rgba(255,220,190,0) 14%) -130px -170px,
	radial-gradient(rgba(220,220,255,0) 0, rgba(220,220,255,.1) 11%, rgba(220,220,255,.2) 13%, rgba(220,220,255,0) 14%) 130px 370px,
	radial-gradient(rgba(240,240,240,0) 0, rgba(240,240,240,.1) 11%, rgba(240,240,240,.2) 13%, rgba(240,240,240,0) 14%) 0 0,
	linear-gradient(90deg, rgba(255,160,140,0.2) 0%, rgba(240,240,80,0.1) 50%, rgba(240,250,240,0.1) 100%);
	background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
	background-color: #ffffff;
}
.title {
	padding: 10px;
	font-size: 110%;
	background-color: rgba(0,0,0,0.2);
	position: relative;
	left: -10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.background {
	border: 1px solid #e8e8e8;
	padding: 30px 10% 30px 10%;
}

IMG {
	border-width: 0px
}

A:link {
	text-decoration: underline;
	color: #0000a0;
}
A:visited {
	text-decoration: underline;
	color: #6000a0;
}
A:hover {
	text-decoration: underline;
	color: #0000c0;
	background-color: #f0f0f0;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #e8e8e8;
	padding-top: 10px;
	padding-right: 10px;
	font-size: small;
	text-align: right;
}
